
@font-face {
    src: url(../ttf/CaskaydiaCoveNerdFontMono-SemiBold.ttf);
    font-family: CaskaydiaCove;
}

* {
    font-family: CaskaydiaCove;
    font-weight: bold;
    box-sizing: border-box;
    background-color: #282a36;
    color: #f8f8f2;
}

body {
    margin: 2%;
}

hr {
    border: 2px solid #6272a4;
}
